figure#chart{
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.tooltip{
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 0px;
}
