html, body {
    margin: 0px;
    font-family: Montserrat;
    /* font-size: 15px; */
    color: whitesmoke;
    background-color: black;
}

h1{
    font-size: 40pt;
    font-weight: 200;

}

#title{
    margin-left: 50px;
    margin-bottom: 100px;
}
.axis text,
.slider text {
    font-family: Montserrat;
    font-size: 18px;
    fill: whitesmoke;
}
#container{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}
#checkBoxContainer{
    padding-top: 30px;
    width: 100px;
    order: 2;
}
#dataviz_mySlider{
    width: 700px;
    order: 2;
}

