html, body {
    margin: 0px;
    font-family: Montserrat;
    /* font-size: 15px; */
    color: whitesmoke;
    background-color: black;
}

h1{
    font-size: 40pt;
    font-weight: 200;

}

#title{
    margin-left: 50px;
    margin-bottom: 100px;
}
.axis text,
.slider text {
    font-family: Montserrat;
    font-size: 16px;
    fill: whitesmoke;
}

#chart--container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

figure#dataviz_mySlider{
    /* height: 100vh; */
    margin-bottom: 100px;
    /* width: 700px; */
    order: 2;
}

figure#map{
    margin: 0px;
    height: 100vh;
    width: 100%;
}

figure#linechart{
    margin: 0px;
    height: 100vh;
    width: 60%;
}

